<% add_decidim_page_title("Conexión con el webservice") %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      Conexión con el webservice
    </h1>
  </div>

  <div class="card-driver">
    <h2>TestDBconnection:</h2>
    <code class="code-block"><%= service.try :slim_response %></code>
  </div>

  <div class="card-driver">
    <h2>Validar:</h2>
    <%= decidim_form_for(@form, html: { class: "form-defaults form new_event_meeting" }, url: check_admin_getxo_index_path) do |f| %>
      <div class="form__wrapper">
        <div class="card pt-4">
          <div class="card-section">
            <div class="row column">
              <%= f.text_field :document_number %>
            </div>

            <div class="row column">
              <%= f.date_field :date_of_birth %>
            </div>
            <div class="row column">
              <%= f.submit "Validar DNI", class: "button button__sm button__secondary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @response %>
      <br>
      <div class="row column">
        <pre class="code-block"><%= @response %></pre>
      </div>
    <% end %>
  </div>
</div>
